<%- include('./includes/user-header')%>
    <%- include('./includes/user-navbar')%>
       <div class="container justify-content-center mt-4" >
        <div class="p-6">
            <h1>Your wishList is empty!</h1><br><br>
            <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
                shopping</a>
        </div>
       </div>
      
            <%- include('./includes/script')%>