<%- include('./includes/user-header')%>
    <%- include('./includes/user-navbar')%>





        <!-- myaccount-section -->
        <section class="myaccount-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                        <div class="inner-box login-inner">
                            <div class="upper-inner">
                                <h3>Forgot password</h3>
                            </div>
                            <form action="/forgotPassword" method="post" class="default-form">

                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" name="email" id="email">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="theme-btn-two">Submit<i
                                            class="flaticon-right-1"></i></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
        </section>
        <%- include('./includes/user-footer')%>

            <%- include('./includes/script')%>