<%- include('./includes/user-header')%>
    <%- include('./includes/user-navbar')%>
  <!-- Preloader -->

     


        <!-- myaccount-section -->
        <section class="myaccount-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                        <div class="inner-box login-inner">
                            <div class="upper-inner">
                                <h3>Reset Password</h3>
                            </div>
                            <form action="" method="post" class="default-form" id="form">
                              
                                        <div class="form-group">
                                            <label>new password</label>
                                            <input type="password" name="password1" id="password1">
                                    <span class="float-right text-danger" id="passwordErr"></span>

                                        </div>
                                        <div class="form-group">
                                            <label> Confirm Password</label>
                                            <input type="password" name="password2" id="password2" >
                                    <span class="float-right text-danger" id="cpasswordErr"></span>

                                        </div>
                                       
                                        <div class="form-group">
                                            <button type="submit" class="theme-btn-two">Submit<i
                                                    class="flaticon-right-1"></i></button>
                                        </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
        </section>
        <%- include('./includes/user-footer')%>
        <script>
            const form = document.getElementById('form')
            form.addEventListener('submit', (e) =>{
           console.log("hiiiii");
           const password1 = document.getElementById('password1')
           const password2 = document.getElementById('password2')
                                   
           const passwordErr = document.getElementById('passwordErr')
           const cpasswordErr = document.getElementById('cpasswordErr')



           passwordErr.innerHTML = ''
           cpasswordErr.innerHTML = ''


           if (password1.value == '' || password1.value == null) {
               e.preventDefault()
               passwordErr.innerHTML = 'enter password'
           } else if (password2.value == '' || password2.value == null) {
               e.preventDefault()
               cpasswordErr.innerHTML = 'enter confirm password'
           }
           else if(password2.value!=password1.value){
            e.preventDefault()
               cpasswordErr.innerHTML = 'passwords not matching'
           }
           
       })
          
       </script>
            <%- include('./includes/script')%>