<%- include('./includes/user-header')%>
    <%- include('./includes/user-navbar')%>


        <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(user/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>SignUp</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="/">Home</a></li>
                        <li>My Account</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- myaccount-section -->
        <section class="myaccount-section" >
            <div class="auto-container" >
                <div class="row clearfix"  >
                   
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column" style="float:right;" >
                        <div class="inner-box signup-inner"  >
                            <div class="upper-inner" >
                                <h3>Create An Account</h3>
                                <p>Log in to access all your resources</p>
                            </div>





                            <!-----------------------------signup------------------------------>
                            <form action="/signup" id="form" form method="post" class="default-form">
                                <div class="form-group">
                                    <label>Your name</label>
                                    <input type="text" name="name" id="username">
                                    <span class="float-right text-danger" id="userNameErr"></span>
                                </div>


                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" name="email" id="email">
                                    <span class="float-right text-danger" id="emailErr"></span>
                                </div>


                                <div class="form-group">
                                    <label>Mobile no:</label>
                                    <input type="text" name="mobile" id="mobile">
                                    <span class="float-right text-danger" id="phoneErr"></span>
                                </div>


                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" id="password">
                                    <span class="float-right text-danger" id="passwordErr"></span>
                                </div>

                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" name="cpassword" onkeyup="validate_password()"
                                        id="password2">
                                    <span class="float-right text-danger" id="comPassErr"></span>

                                </div>

                                <span id="wrong_pass_alert"></span>



                                <div class="form-group">
                                    <button type="submit" class="theme-btn-two">Sign Up<i
                                            class="flaticon-right-1"></i></button>
                                </div>
                            </form>
                            <div class="lower-inner centred">
                                <span>or</span>

                                <p>Already have an account? <a href="/login">Log In Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
             const form = document.getElementById('form')
             form.addEventListener('submit', (e) =>{
            console.log("hiiiii");
            const username = document.getElementById('username')
            const email = document.getElementById('email')
            const mobile = document.getElementById('mobile')
            const password = document.getElementById('password')
            const password2 = document.getElementById('password2')
                                    
            const userNameErr = document.getElementById('userNameErr')
            const emailErr = document.getElementById('emailErr')
            const phoneErr = document.getElementById('phoneErr')
            const passwordErr = document.getElementById('passwordErr')
            const comPassErr = document.getElementById('comPassErr')



            userNameErr.innerHTML = ''
            emailErr.innerHTML = ''
            phoneErr.innerHTML = ''
            passwordErr.innerHTML = ''
            comPassErr.innerHTML = ''


            if (username.value == '' || username.value == null) {
                e.preventDefault()
                userNameErr.innerHTML = 'Enter name'
            } else if (email.value == '' || email.value == null) {
                e.preventDefault()
                emailErr.innerHTML = 'Give email'
            }
            else if (mobile.value == '' || mobile.value == null) {
                e.preventDefault()
                phoneErr.innerHTML = 'Give mobile number'
            }
            else if (password.value == '' || password.value == null) {
                e.preventDefault()
                passwordErr.innerHTML = 'enter password'
            }
            else if (comPassErr.value == '' || comPassErr.value == null||comPassErr.value!=password.value) {
                e.preventDefault()
                comPassErr.innerHTML = 'enter confirm password'
            }
        })
            function validate_password() {

                var pass = document.getElementById('password').value;
                var confirm_pass = document.getElementById('password2').value;
                if (pass != confirm_pass) {
                    document.getElementById('wrong_pass_alert').style.color = 'red';
                    document.getElementById('wrong_pass_alert').innerHTML
                        = '☒ Use same password';
                    document.getElementById('create').disabled = true;
                    document.getElementById('create').style.opacity = (0.4);
                } else {
                    document.getElementById('wrong_pass_alert').style.color = 'green';
                    document.getElementById('wrong_pass_alert').innerHTML =
                        '🗹 Password Matched';
                    document.getElementById('create').disabled = false;
                    document.getElementById('create').style.opacity = (1);
                }
            }

            function fieldvalidation() {
                if (document.getElementById('password').value == ""||document.getElementById('password').value == null) {
                    document.getElementById('passwordErr').innerHTML = "required"
                }
                else if (document.getElementById('password2').value == ""||document.getElementById('password2').value == null) {
                    document.getElementById('comPassErr').innerHTML = "required"
                }
                else if (document.getElementById('username').value == ""||document.getElementById('username').value == null) {
                    document.getElementById('userNameErr').innerHTML = "required"
                }
                else if (document.getElementById('email').value == ""||document.getElementById('email').value == null) {
                    document.getElementById('emailErr').innerHTML = 'required'
                }
                else if (document.getElementById('mobile').value == ""||document.getElementById('mobile').value == null) {
                    document.getElementById('phoneErr').innerHTML = 'required'
                }

            }
        </script>




        <!-- myaccount-section end -->
        <%- include('./includes/user-footer')%>
            <%- include('./includes/script')%>