  <!--Scroll to top-->
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-long-arrow-alt-up"></i>
</button>
</div>

<!-- jequery plugins -->
<script src="user/javascript/jquery.js"></script>
<script src="user/javascript/popper.min.js"></script>
<script src="user/javascript/bootstrap.min.js"></script>
<script src="user/javascript/owl.js"></script>
<script src="user/javascript/wow.js"></script>
<script src="user/javascript/validation.js"></script>
<script src="user/javascript/jquery.fancybox.js"></script>
<script src="user/javascript/TweenMax.min.js"></script>
<script src="user/javascript/appear.js"></script>
<script src="user/javascript/scrollbar.js"></script>
<script src="user/javascript/jquery.nice-select.min.js"></script>
<script src="user/javascript/isotope.js"></script>
<script src="user/javascript/jquery-ui.js"></script>
<script src="user/javascript/jquery.bootstrap-touchspin.js"></script>

<!-- main-js -->
<script src="user/javascript/script.js"></script>

 <!-- jequery plugins
 <script src="assets/js/jquery.js"></script>
 <script src="assets/js/popper.min.js"></script>
 <script src="assets/js/bootstrap.min.js"></script>
 <script src="assets/js/owl.js"></script>
 <script src="assets/js/wow.js"></script>
 <script src="assets/js/validation.js"></script>
 <script src="assets/js/jquery.fancybox.js"></script>
 <script src="assets/js/TweenMax.min.js"></script>
 <script src="assets/js/appear.js"></script>
 <script src="assets/js/scrollbar.js"></script>
 <script src="assets/js/jquery.nice-select.min.js"></script>
 <script src="assets/js/isotope.js"></script>
 <script src="assets/js/jquery-ui.js"></script>
 <script src="assets/js/jquery.bootstrap-touchspin.js"></script>

 main-js
 <script src="assets/js/script.js"></script> -->

<!-- ajax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



</body><!-- End of .page_wrapper -->
</html>
