<!-- main header -->
<header class="main-header">

    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-box">
                <figure class="logo-box"><a href="index.html"><img src="user/images/b (2)copy.png" alt=""
                            style="height:60px;width:auto"></a></figure>
                <div class="menu-area">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class=""><a href="/">Home</a></li>
                                <li class="dropdown"><a href="#">Category</a>
                                    <ul>
                                        <li><a href="about.html">Men</a></li>
                                        <li><a href="service.html">Women</a></li>
                                        <li><a href="team.html">Kids</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index.html">Shop</a>
                                    <div class="megamenu">
                                        <div class="row clearfix">
                                            <div class="col-lg-4 column">
                                                <ul>
                                                    <!-- <li><h4>Other Shop Page</h4></li> -->
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Wishlist</a></li>
                                                    <li><a href="checkout.html">Checkout Page</a></li>
                                                    <!-- <li><a href="my-account.html">My Account</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown"><a href="#">
                                        <% if(userData){ %>
                                            <%= userData.userName %>
                                                <% }else{ %>
                                                    Account
                                                    <% } %>
                                    </a>
                                    <ul>
                                        <% if (userData){ %>
                                            <li><a href="/logout">Logout</a></li>
                                            <% }else{ %>
                                                <li><a href="/login">Login/register</a></li>
                                                <% } %>
                                    </ul>
                                </li>
                                <!-- <li><a href="contact.html">Contact</a></li> -->
                                <!-- <li class=""><a href="index.html">About us</a></li> -->

                            </ul>
                        </div>
                    </nav>
                </div>
                <ul class="menu-right-content clearfix">
                    <!-- <li>
                        <div class="search-btn">
                            <button type="button" class="search-toggler"><i class="flaticon-search"></i></button>
                        </div>
                    </li> -->
                    <li>
                        <% if (userData) {%>
                            <a href="/userInfo"><i class="flaticon-user"></i></a>
                            <% } else {%>
                                <a href="/login"><i class="flaticon-user"></i></a>
                                <%}%>
                    </li>
                    <li class="shop-cart">
                        <a href="/cart"><i class="flaticon-shopping-cart-1"></i></a>
                    </li>
                    <li><a href="/viewWishList"><i class="flaticon-heart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="logo-box pull-left">
                    <figure class="logo"><a href="index.html"><img src="user/images/b (2)copy.png" alt=""
                                style="height:60px;width:auto"></a></figure>
                </div>
                <div class="menu-area pull-right">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->