<!-- main header -->
<header class="main-header">
    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-box">
                <figure class="logo-box"><a href="index.html"><img src="user/images/b (2)copy.png" alt=""
                            style="height:60px;width:auto"></a></figure>
                <div class="menu-area">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class=""><a href="/">Home</a></li>
                                <li class="dropdown"><a href="#">
                                        <% if(userData){ %>
                                            <%= userData.userName %>
                                                <% }else{ %>
                                                    Account
                                                    <% } %>
                                    </a>
                                    <ul>
                                        <% if (userData){ %>
                                            <li><a href="/logout">Logout</a></li>
                                            <% }else{ %>
                                                <li><a href="/login">Login/register</a></li>
                                                <% } %>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <ul class="menu-right-content clearfix">
                    <li>
                        <% if (userData) {%>
                            <a href="/user-info"><i class="flaticon-user"></i></a>
                            <% } else {%>
                                <a href="/login"><i class="flaticon-user"></i></a>
                                <%}%>
                    </li>
                    <li class="shop-cart">
                        <a href="/cart"><i class="flaticon-shopping-cart-1"></i></a>
                    </li>
                    <li><a href="/viewWishList"><i class="flaticon-heart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="logo-box pull-left">
                    <figure class="logo"><a href="index.html"><img src="user/images/b (2)copy.png" alt=""
                                style="height:60px;width:auto"></a></figure>
                </div>
                <div class="menu-area pull-right">
                    <nav class="main-menu clearfix">
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->