<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>Beyou</title>

  <!-- Fav Icon -->
  <link rel="icon" href="/user/images/title-icon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Stylesheets -->
  <link href="/user/user-css/font-awesome-all.css" rel="stylesheet">
  <link href="/user/user-css/flaticon.css" rel="stylesheet">
  <link href="/user/user-css/owl.css" rel="stylesheet">
  <link href="/user/user-css/bootstrap.css" rel="stylesheet">
  <link href="/user/user-css/jquery.fancybox.min.css" rel="stylesheet">
  <link href="/user/user-css/animate.css" rel="stylesheet">
  <link href="/user/user-css/color.css" rel="stylesheet">
  <link href="/user/user-css/style.css" rel="stylesheet">
  <link href="/user/user-css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->

<body>

  <div class="boxed_wrapper">
    <!-- Preloader -->
    <div class="loader-wrap">
      <div class="preloader">
        <div class="preloader-close">Preloader Close</div>
      </div>
      <div class="layer layer-one"><span class="overlay"></span></div>
      <div class="layer layer-two"><span class="overlay"></span></div>
      <div class="layer layer-three"><span class="overlay"></span></div>
    </div>
    <!-- error-section -->
    <section class="error-section centred sec-pad">
      <div class="auto-container">
        <div class="inner-box">
          <h1>404</h1>
          <h2>Oops! Page Not Found!</h2>
          <p>Please go back to homepage
          <!-- <div class="btn-box">
            <a href="/" class="theme-btn-two">Go Back To Home<i class="flaticon-right-1"></i></a>
          </div> -->
        </div>
      </div>
    </section>
    <!-- error-section end -->
    <!-- jequery plugins -->
    <script src="/user/javascript/jquery.js"></script>
    <script src="/user/javascript/popper.min.js"></script>
    <script src="/user/javascript/bootstrap.min.js"></script>
    <script src="/user/javascript/owl.js"></script>
    <script src="/user/javascript/wow.js"></script>
    <script src="/user/javascript/validation.js"></script>
    <script src="/user/javascript/jquery.fancybox.js"></script>
    <script src="/user/javascript/TweenMax.min.js"></script>
    <script src="/user/javascript/appear.js"></script>
    <script src="/user/javascript/scrollbar.js"></script>
    <script src="/user/javascript/jquery.nice-select.min.js"></script>
    <script src="/user/javascript/isotope.js"></script>

    <!-- main-js -->
    <script src="/user/javascript/script.js"></script>
</body><!-- End of .page_wrapper -->

</html>